<h1>Log in</h1>

<%= render partial: '/errors' %>

<%= form_for @user, url: sessions_path, method: 'post' do |f| %>
  <%= f.label :Username %>
  <%= f.text_field :username %>
  <%= f.label :Password %>
  <%= f.password_field :password %>
  <%= f.submit 'login' %>
<% end %>
