<h1 class="profile__heading">Your Profile</h1>

<div class="user-info">
  <div class="user-info__top-container">
    <div class="player-icons__user-picture-container">
      <%= image_tag(current_user.avatar.url(:medium), alt: "Your profile picture.", class: "player-icons__profile-picture player-icons__profile-picture--user-page") %>
      <p class="player-icons__user-name player-icons__user-name--city">
        <%= current_user.username.capitalize %>
      </p>
    </div>
    <p class="user-info__record user-info__record--wins">Wins: <%= current_user.wins %></p>
    <p class="user-info__record user-info__record--losses">Losses: <%= current_user.losses %></p>
  </div>
  <p class="user-info__joined-date">Joined: <%= current_user.created_at.strftime('%-m/%e/%Y') %></p>
</div>

<section aria-labelledby="games-header" class="past-games">
  <h2 id="games-header" class="past-games__heading">
    Past Games
  </h2>
  <div class="game-history-table-container">
    <table id="player-table" class="game-history-table" aria-labelledby="games-header">
      <thead>
        <tr>
          <th scope="col" class="game-history-table__row-heading" aria-label="Continue or revisit"></td>
          <th scope="col" class="game-history-table__row-heading">OPPONENT</td>
          <th scope="col" class="game-history-table__row-heading">DATE</th>
          <th scope="col" class="game-history-table__row-heading">RESULT</td>
          <th scope="col" class="game-history-table__row-heading">TURN #</td>
        </tr>
      </thead>
      <tbody>
        <% current_user.games.each do |game| %>
          <tr
            class="game-history-table__row game-history-table__row<% if is_winner(game) %>--won<% elsif game.winner %>--lost<% else %>--unfinished<% end %>"
          >
            <td class="game-history-table__data game-history-table__data--icon-container">
              <%= generateIcon(game) %>
            </td>
            <td class="game-history-table__data"><%= game.opponent(current_user).username %></td>
            <td class="game-history-table__data"><%= game.created_at.strftime('%-m/%e/%Y') %></td>
            <td class="game-history-table__data<% if !game.winner %> game-history-table__data--unfinished<% end %>"><%= winOrLoss(game) %></td>
            <td class="game-history-table__data"><%= game.turn %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <div>
</section>
<script>
  document.getElementById('player-table').addEventListener('click', function notify(event) {
    if (event.target.classList.contains('JSRevisitLink')) {
      event.preventDefault();
      window.alert('Review game functionality coming soon.');
    }
  });
</script>
