<h1><%= @user.username %></h1>

<div class="user-info">
<%= image_tag(current_user.avatar.url(:medium), class: 'user-info--picture') %>
<p>Win loss: <%= @user.record %></p>
</div>


<h2 id="games-header">
<% if @user == current_user %>
  Your game history
<% else %>
  <%= current_user.username %>'s game history
<% end %>
</h2>
<table aria-labelledby="game-history-table">
  <thead>
    <th>Opponent</td>
    <th>Winner</th>
    <th>First Move</td>
    <th>Started</td>
    <th>Completed</td>
    <th>Revisit</td>
  </thead>
  <tbody>
    <% @user.games.each do |game| %>
      <tr
        class="game-history-table__row game-history-table__row<% if game.winner && game.winner == @user %>game-history-table__row--won-game<% else %>--lost-game<% end %>"
      >
        <td><%= game.opponent(@user).username %></td>
        <td><%= game.winner && game.winner.username || raw("&mdash;") %></td>
        <td><%= game.winner_by_deck(game.first_move).username %></td>
        <td><%= game.created_at.strftime('%c') %></td>
        <td><%= game.completed_at && game.completed_at.strftime('%c') || raw("&mdash;") %></td>
        <td><%= game.completed_at ? link_to('Revisit game', "/games/#{game.id}") : link_to('Resume game', "/games/#{game.id}/play") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
