<div id='game' data-board-state="<%= @game.board_with_images_as_json %>" data-city-flipped-url="<%= image_url("cards/city/city-flipped.png") %>" data-country-flipped-url="<%= image_url("cards/country/country-flipped.png") %>" data-player-deck="<%= @player.deck(@game) %>" data-is-local="<%= true %>"></div>
