<!DOCTYPE html>
<html>
  <head>
    <title>Smuggles 'N Snuggles - Game Lobby</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'render_react' %>
  </head>

  <body>
    <nav class="nav">
      <%= link_to 'home', root_path, class: 'nav__link nav__link--small' %>
    </nav>
    <main class="lobby-container" aria-labelledby="lobby-heading">
      <%= yield %>
    </main>
  </body>

</html>
