<!DOCTYPE html>
<html>
  <head>
    <title>Smuggles 'N Snuggles - Profile</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'render_react' %>
  </head>

  <body class="profile-body dark">
    <nav class="nav nav--city">
      <%= link_to 'home', root_path, class: 'nav__link' %>
    </nav>
    <main class="profile">
      <%= yield %>
    </main>
  </body>
</html>
